In [80]:
import pandas as pd
import numpy as np

da_df=pd.read_csv('data_analyst.csv')
display(da_df)

,Title,Location,Company,Salary,Sponsored,Description
0,Programmer/Developer Lead - Sr Data Analyst - ...,"Toronto, ON",Capgemini,None,Organic,Programmer/Developer Lead - Sr Data Analyst - ...
1,Senior Technical Data Analyst,"Toronto, ON",BMO Financial Group,None,Organic,Address:\n120 Bloor Street East\nJob Family Gr...
2,Jr. Data Analyst,"Surrey, BC",Cascadia Scientific,None,Organic,Cascadia Scientific provides a SaaS platform i...
3,Data Analyst,"Kitchener, ON",Dialpad,None,Organic,Dialpad is the most modern business communicat...
4,Decision Support Data Extraction Analyst,"Whitby, ON",Central East Local Health Integration Network,$33.26 - $39.08 an hour,Organic,Providing database and data extraction experti...
...,...,...,...,...,...,...
290,Jr. Data/Reporting Analyst,"Markham, ON",Scarsin,None,Organic,The Jr Data/Reporting Analyst will be responsi...
291,Data Analyst,"Montréal, QC",District M,None,Organic,"While working for District M, you will play a ..."
292,DEVELOPER / DATA ANALYST,"Mississauga, ON",AXIS Database Marketing,None,Organic,AXIS is an energetic growth company with a sea...
293,Business Data Analyst,"Toronto, ON",Sterling-Turner,"$175,000 a year",Organic,"Business Data Analyst\nLocation: Toronto/GTA, ..."
294,Data Analyst,"Edmonton, AB",Systematix,None,Organic,We are Systematix and we are currently looking...

In [81]:
for i in da_df.index:
    da_df.loc[i,'Role']='data analyst'

In [82]:
ds_df=pd.read_csv('data_scientist.csv')
display(ds_df)

,Title,Location,Company,Salary,Sponsored,Description
0,Data Scientist (Decision Science),"Mississauga, ON",Compass Digital Labs,None,Organic,"Hey there! Just in case you were wondering, th..."
1,Data Scientist,"Vancouver, BC",Technical Safety BC,$50.11 - $58.04 an hour,Organic,About Technical Safety BC\nTechnical Safety BC...
2,Data Scientist,"Toronto, ON",Indigo Park,None,Organic,Indigo Park is an industry leader and the most...
3,20-78 Data Scientist (Closing Date: November 2...,"Vancouver, BC",Technical Safety BC,$50.11 - $58.04 an hour,Organic,About Technical Safety BC\nTechnical Safety BC...
4,Data Scientist II,"Toronto, ON",Zynga,None,Organic,Zynga is a leading developer of the world’s mo...
...,...,...,...,...,...,...
166,Senior Data Scientist - QuantumBlack,"Montréal, QC",McKinsey & Company,None,Organic,QUALIFICATIONS\nPost-graduate degree in machin...
167,DATA SCIENTIST,"Ottawa, ON",Temetrix,None,Organic,The quantitative research team is looking for ...
168,SENIOR DATA SCIENTIST,"Ottawa, ON",Temetrix,None,Organic,We are looking for a Senior Data Scientist who...
169,Data Scientist/Time Series,"Markham, ON",Scarsin,None,Organic,Reporting directly to the Director of Data Sci...
170,Data Scientist,"Toronto, ON",Cerebri AI,None,Organic,"Design, develop, test, advocate, evangelize an..."

In [83]:
for i in ds_df.index:
    ds_df.loc[i,'Role']='data scientist'

In [84]:
bi_df=pd.read_csv('business-Intelligence.csv')
display(bi_df)

,Title,Location,Company,Salary,Sponsored,Description
0,Business Intelligence Analyst,"Toronto, ON",Figure 1,None,Organic,Figure 1 Overview\n\nFigure 1’s mission is to ...
1,Product Owner - Data and Business Intelligence,"Mississauga, ON",Robert Half,None,Organic,Our client is one of the country's leading pro...
2,Business Intelligence Analyst,"Burlington, ON",Wolseley,None,Organic,As the world’s number one distributor of heati...
3,Business Intelligence Analyst,"Winnipeg, MB",World Trade Centre Winnipeg,None,Organic,Job Title: Business Intelligence Analyst\nSala...
4,Business Intelligence Analyst,"Concord, ON",Aleafia Health,None,Organic,Aleafia Health brings Canadians medical cannab...
...,...,...,...,...,...,...
117,Business Intelligence (BI) Developer,"Toronto, ON",Sterling-Turner,"$210,000 - $215,000 a year",Organic,Business Intelligence (BI) Developer\nLocation...
118,Practice Lead – Business Intelligence (Power BI),"Toronto, ON",Sterling-Turner,"$380,000 - $384,000 a year",Organic,Practice Lead – Business Intelligence (Power B...
119,Jr. Business Intelligence Developer,"Toronto, ON",Sterling-Turner,"$90,000 - $150,000 a year",Organic,Jr. Business Intelligence Developer\nLocation:...
120,"Senior Project Manager, Business Intelligence","Toronto, ON",Sterling-Turner,$254 a day,Organic,"Senior Project Manager, Business Intelligence\..."
121,Senior Business Intelligence Specialist,"Toronto, ON",Sterling-Turner,$260 a day,Organic,Senior Business Intelligence Specialist\nLocat...

In [85]:
for i in bi_df.index:
    bi_df.loc[i,'Role']='business intelligence'

In [86]:
am_df=pd.read_csv('analytics_manager.csv')
display(am_df)

,Title,Location,Company,Salary,Sponsored,Description
0,"Sr. Manager, Social Media Analytics & Engageme...","Toronto, ON",Restaurant Brands International,None,Organic,"Tim Hortons is looking for a passionate, drive..."
1,"Manager, Cloud and Data Analytics Consulting","Mississauga, ON",BDO,None,Organic,Your opportunity:\nBDO Canada is currently see...
2,"Manager, Reporting and Analytics","Toronto, ON",Manulife,None,Organic,Are you looking for unlimited opportunities to...
3,Marketing Insights & Analytics Manager,"Burnaby, BC",Fox Race Face Easton,None,Organic,Role: Marketing Insights & Analytics Manager (...
4,Manager of Analytics,"Hamilton, ON",City of Hamilton,"$111,184 - $130,805 a year",Organic,HAMILTON POLICE SERVICE\nTOGETHER | STRONGER |...
...,...,...,...,...,...,...
73,"Product Manager, Fixed Income AI Analytics","Toronto, ON",Overbond,None,Organic,About us\n\nWe’re a leading financial technolo...
74,Product Manager (data & analytics),"Toronto, ON",AcceptLocal Online,None,Organic,"Our Client, is an award winning Canadian softw..."
75,"Manager, Sales Operations & Analytics","Toronto, ON",Clio,None,Organic,We are currently seeking a Sales Operations Ma...
76,"Senior Manager, Marketing Acquisitions and Ana...","Toronto, ON",Equitable Bank,None,Organic,Canada's Challenger Bank™\nIf you're looking f...
77,"Manager, IFRS 9 Analytics","Toronto, ON",Lussier Executive Search,None,Organic,"The Role:\nBased in Toronto, Canada. You must ..."

In [87]:
for i in am_df.index:
    am_df.loc[i,'Role']='analytics manager'

In [88]:
display(ds_df['Description'][1])

"About Technical Safety BC\nTechnical Safety BC (formerly BC Safety Authority) is an independent, self-funded organization that oversees the safe installation and operation of technical systems and equipment across the province. In addition to issuing permits, licenses and certificates, we work with industry to reduce safety risks through assessment, education and outreach, enforcement, and research. Through simplification of our initiatives we promote understanding and engagement, making safety accessible to everyone. As society changes, we create and adopt new ideas, skills, and tools that will enable us to meet the safety challenges of a highly-connected world.\nWe're always looking for exceptional people to bring new ideas, fresh thinking and the motivation to help shape the safety system in B.C. We are strongly committed to fostering diversity within our community. Technical Safety BC welcomes those who would contribute to further diversifying our organization, as we are an equal opportunity employer.\nOur values guide our work.\nWe See Genius in Diversity\nWe Foster Confidence\nWe Make the Complex Simple\nWe Adapt\nStatus: Regular, Full-Time, Union\nLocation: Vancouver\nPay Rate: $50.11 - $58.04\nReports to: Leader, Research & Analytics\nPrincipal Accountabilities:\nResponsible for the machine learning component of SRA (predictive algorithm used for Resource Allocation Program at Technical Safety BC) and coordinate with SRA stakeholders to ensure smooth delivery of the RAP machine learning output\nResponsible for development of additional machine learning products through team collaboration that are multi-faceted and cross functional\nApply leadership and promote value of data science to help make sound safety decisions\nDemonstrate deep understanding of quantitative theories around client safety behaviors and triggers in use of analytics and be able to communicate effectively the analytical use cases both internally and externally\nAble to communicate and collaborate effectively with BI team to support various BI development projects\nWork with multiple, complex data sources such as social media APIs and other open source APIs\nBuild machine learning algorithms that are scalable.\nDesign, build, implement & test machine learning models, and ship deployment-ready versions into production\nIdentify new data sources/patterns that add significant lift to machine learning models\nDevelop innovative solutions to hard machine learning problems such as sample selection bias, and supervised learning\nAble to conduct independent research\n\n\nKnowledge, Skills & Experience:\nEducation and Experience\nStrong background in applying machine learning techniques\nStrong ability in python and R\nExperience building and optimizing data pipelines, architectures and data sets\nStrong ability to prototype deployment tools such as web app development\nFluency in big data platforms such as Spark\nExperience with relational SQL and NoSQL databases\nExperience with agile project management\nExperience with AWS cloud services\nFluency in open source technology such as Tensorflow\nExperience with text mining and image processing (deep learning algorithm)\n3-5 years of relevant quantitative and qualitative research and analytics work\nMaster’s Degree or above in Computer Science, Statistics or Data Science\n\n\nKnowledge and Skills\nBusiness savvy to be able to translate technical work to business values\nHighly motivated to tackle multiple projects in parallel\nAptitude to independently learn new technologies\nExcellent written and oral communication skills and ability to share findings with a large, non-technical audience\nAbility to engage in collaborative dialogue with a wide range of internal and external customers/stakeholder\nSolid understanding of experimental design, combined with creativity and curiosity to explore innovative solutions\nSolid understanding of IT systems, databases, and data management including data quality\nExcellent planning and organizational skills to develop plans for designated projects and assignments\nSolid analytical, problem-solving and decision-making skills to identify and take action to assess needs, address challenges, and manage change\nBasic leadership skills to provide day-to-day technical guidance"

In [89]:
de_df=pd.read_csv('Data-Engineer.csv')
display(de_df)

,Title,Location,Company,Salary,Sponsored,Description
0,BHJOB15656_15470 - Data Engineer (Remote),"Ottawa, ON",Myticas Consulting,None,Organic,The recruitment team at Myticas Consulting is ...
1,Data Engineer,"Dorval, QC",Bombardier,None,Organic,Data Engineer-MON16899\n\nDescription\n\nBOMBA...
2,Data Engineer,"Montréal, QC",LANDR,None,Organic,LANDR is looking for a Data Engineer to join o...
3,BHJOB15656_15505 - Data Engineer (Cloud) (Remote),"Ottawa, ON",Myticas Consulting,None,Organic,The recruitment team at Myticas Consulting is ...
4,Sr Data Engineer,"Montréal, QC",Thales,None,Organic,"Location: Montreal, CanadaDans des marchés en ..."
...,...,...,...,...,...,...
335,Data Engineer,"Halifax, NS",MobSquad,None,Organic,"ABOUT MOBSQUAD\nWe are a well-funded, hyper-gr..."
336,Data Engineer,"Montréal, QC",MarketMuse,None,Organic,Experienced Data Engineer\nOverview\nMarketmus...
337,Senior Data Engineer,"Toronto, ON",ASSURANCE,None,Organic,About Assurance\nAt Assurance we are disruptin...
338,Senior Data Engineer- QuantumBlack,"Montréal, QC",McKinsey & Company,None,Organic,QUALIFICATIONS\nMeaningful experience with at ...
339,Data Engineer,"Montréal, QC",Paytm,None,Organic,"About Paytm Labs:\nAt Paytm Labs, we’re on a m..."

In [90]:
for i in de_df.index:
    de_df.loc[i,'Role']='data engineer'

In [91]:
all_dfs=[da_df,ds_df,bi_df,am_df,de_df]
df=pd.concat(all_dfs, axis=0).reset_index(drop=True)
display(df)

,Title,Location,Company,Salary,Sponsored,Description,Role
0,Programmer/Developer Lead - Sr Data Analyst - ...,"Toronto, ON",Capgemini,None,Organic,Programmer/Developer Lead - Sr Data Analyst - ...,data analyst
1,Senior Technical Data Analyst,"Toronto, ON",BMO Financial Group,None,Organic,Address:\n120 Bloor Street East\nJob Family Gr...,data analyst
2,Jr. Data Analyst,"Surrey, BC",Cascadia Scientific,None,Organic,Cascadia Scientific provides a SaaS platform i...,data analyst
3,Data Analyst,"Kitchener, ON",Dialpad,None,Organic,Dialpad is the most modern business communicat...,data analyst
4,Decision Support Data Extraction Analyst,"Whitby, ON",Central East Local Health Integration Network,$33.26 - $39.08 an hour,Organic,Providing database and data extraction experti...,data analyst
...,...,...,...,...,...,...,...
1001,Data Engineer,"Halifax, NS",MobSquad,None,Organic,"ABOUT MOBSQUAD\nWe are a well-funded, hyper-gr...",data engineer
1002,Data Engineer,"Montréal, QC",MarketMuse,None,Organic,Experienced Data Engineer\nOverview\nMarketmus...,data engineer
1003,Senior Data Engineer,"Toronto, ON",ASSURANCE,None,Organic,About Assurance\nAt Assurance we are disruptin...,data engineer
1004,Senior Data Engineer- QuantumBlack,"Montréal, QC",McKinsey & Company,None,Organic,QUALIFICATIONS\nMeaningful experience with at ...,data engineer
1005,Data Engineer,"Montréal, QC",Paytm,None,Organic,"About Paytm Labs:\nAt Paytm Labs, we’re on a m...",data engineer

In [92]:
df['Description']=df['Description'].str.lower().str.replace('\n',' ')
display(df['Description'])

0       programmer/developer lead - sr data analyst - ...
1       address: 120 bloor street east job family grou...
2       cascadia scientific provides a saas platform i...
3       dialpad is the most modern business communicat...
4       providing database and data extraction experti...
                              ...
1001    about mobsquad we are a well-funded, hyper-gro...
1002    experienced data engineer overview marketmuse ...
1003    about assurance at assurance we are disrupting...
1004    qualifications meaningful experience with at l...
1005    about paytm labs: at paytm labs, we’re on a mi...
Name: Description, Length: 1006, dtype: object

In [93]:
display(df)

,Title,Location,Company,Salary,Sponsored,Description,Role
0,Programmer/Developer Lead - Sr Data Analyst - ...,"Toronto, ON",Capgemini,None,Organic,programmer/developer lead - sr data analyst - ...,data analyst
1,Senior Technical Data Analyst,"Toronto, ON",BMO Financial Group,None,Organic,address: 120 bloor street east job family grou...,data analyst
2,Jr. Data Analyst,"Surrey, BC",Cascadia Scientific,None,Organic,cascadia scientific provides a saas platform i...,data analyst
3,Data Analyst,"Kitchener, ON",Dialpad,None,Organic,dialpad is the most modern business communicat...,data analyst
4,Decision Support Data Extraction Analyst,"Whitby, ON",Central East Local Health Integration Network,$33.26 - $39.08 an hour,Organic,providing database and data extraction experti...,data analyst
...,...,...,...,...,...,...,...
1001,Data Engineer,"Halifax, NS",MobSquad,None,Organic,"about mobsquad we are a well-funded, hyper-gro...",data engineer
1002,Data Engineer,"Montréal, QC",MarketMuse,None,Organic,experienced data engineer overview marketmuse ...,data engineer
1003,Senior Data Engineer,"Toronto, ON",ASSURANCE,None,Organic,about assurance at assurance we are disrupting...,data engineer
1004,Senior Data Engineer- QuantumBlack,"Montréal, QC",McKinsey & Company,None,Organic,qualifications meaningful experience with at l...,data engineer
1005,Data Engineer,"Montréal, QC",Paytm,None,Organic,"about paytm labs: at paytm labs, we’re on a mi...",data engineer

desc=df['Description'].values.tolist()
for i in l:
    for j in desc:
        if df['Description'].str.contains(i,case=False)==True:
            df[i][j]=1
        else:
            df[i][j]=0

for i in df.index:
    for j in desc:
        if df.loc[i,'Description']==j:
            print(i)

In [94]:
display(df.describe())

,Title,Location,Company,Salary,Sponsored,Description,Role
count,1006,1006,1006,1006,1006,1006,1006
unique,629,81,584,65,1,916,5
top,Data Engineer,"Toronto, ON",Capgemini,None,Organic,about staffinity inc. we are your trusted bili...,data engineer
freq,80,353,14,935,1006,3,340

# Function to process some lists and create a column if item was found
# def create_column
l1 = ["a/b testing", "a/b test"]
l2 = ["analysis of variance", 'anova']
l3 = ["artifical intelligence", "ai"]
l4 = ["chi-squared", "chi-2"]
l5= {'knn' : ["knn", "k nearest"]}


[chi-squared] | [chi-2] 
[\bsql\b]


for item in l1:
    for j in df.index:
        if df['Description'].str.contains(item)==True :
            df.loc[j,'a/b testing'] = 1
        else:
            df.loc[j,'a/b testing'] = 0

In [95]:
!pip install nltk

Requirement already satisfied: nltk in /Users/foad/opt/anaconda3/lib/python3.7/site-packages (3.4.5)
Requirement already satisfied: six in /Users/foad/opt/anaconda3/lib/python3.7/site-packages (from nltk) (1.12.0)

In [96]:
import re
import nltk
import string
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /Users/foad/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /Users/foad/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [97]:
skills_df=pd.read_csv('skills_book final.csv')
skills_df=skills_df.groupby('Umbrella_Term').Skills.apply(list).reset_index()
display(skills_df)

,Umbrella_Term,Skills
0,ai,"[artifical intelligence, \bai\b, intelligent s..."
1,ai-chatbots,"[chatbot, chatterbot]"
2,ai-ethics,"[ethics of ai, ethics of artificial intelligence]"
3,ai-knowledge graphs,[graph theory]
4,ai: platform-Azure,[azure]
...,...,...
179,supervised learning,[supervised learning]
180,time series analysis,"[time series analysis, time series, multivaria..."
181,time series model,"[time series, time-to-event modeling]"
182,visualisation: tool-power bi,[power bi]
183,visualisation: tool-tableau,[tableau]

In [98]:
dict_skills={}
for i in skills_df.index:
    dict_skills[skills_df.loc[i,'Umbrella_Term']]=skills_df.loc[i,'Skills']
display(dict_skills)

{'ai': ['artifical intelligence', '\\bai\\b', 'intelligent systems'],
 'ai-chatbots': ['chatbot', 'chatterbot'],
 'ai-ethics': ['ethics of ai', 'ethics of artificial intelligence'],
 'ai-knowledge graphs': ['graph theory'],
 'ai: platform-Azure': ['azure'],
 'ai: platform-google ai platform': ['google ai'],
 'ai: platform-infosys nia': ['infosys nia'],
 'ai: platform-premonition': ['premonition'],
 'ai: platform-watson': ['watson ai', 'watson'],
 'ai: platform-wipro holmes': ['wipro holmes'],
 'ai:platform-rainbird': ['rainbird'],
 'big data': ['big data', 'parallel computing'],
 'big data-mapreduce': ['map-reduce', 'mapreduce'],
 'big data: platform-bigquery': ['bigquery'],
 'big data: platform-cloudera': ['cloudera'],
 'big data: tool-hadoop': ['hadoop'],
 'big data: tool-hive': ['hive'],
 'big data: tool-spark': ['spark'],
 'bioinformatics': ['health informatics',
  'bioconductor',
  'bioinformatics',
  'bioinformatics algorithms',
  'biological neuron model',
  'biostatistics'],
 'bioinformatics: tool-SAMtools': ['samtools'],
 'business analytics': ['business analysis',
  'business analytics',
  'business intelligence',
  'data-?informed decision-?making'],
 'business analytics: tool-ibm cognos': ['ibm cognos analytics'],
 'cloud computing': ['cloud',
  'cloud computing',
  'cloud databases',
  'cloud storage'],
 'command-line interface': ['command-?line'],
 'computer vision': ['computer vision'],
 'computer vision: tool-opencv': ['opencv'],
 'data analytics': ['analytics',
  'cross-?sectional analysis',
  'data analysis',
  'analyzing data'],
 'data analytics-customer analytics': ['customer analytics'],
 'data analytics-finance': ['financial analysis'],
 'data analytics-marketing': ['marketing analytics'],
 'data analytics-predictive analytics': ['predictive analytics',
  'predictive modelling'],
 'data analytics-reporting': ['data reporting', 'describing data'],
 'data analytics-social networks': ['social network analysis'],
 'data analytics: platform-knime': ['knime'],
 'data analytics: platform-teradata': ['teradata'],
 'data cleaning': ['preprocessor'],
 'data cleaning ': ['data cleansing ',
  'cleaning ',
  'wrangling',
  'pre-?process',
  'data collection',
  'pre-?processing',
  'data wrangling'],
 'data collection': ['survey design',
  'experiment design',
  'experimental design'],
 'data exploration': ['exploratory data analysis'],
 'data mining': ['data mining',
  'data extraction',
  'data mining',
  'data mining algorithms',
  'data quality',
  'social media mining',
  'mining',
  'scrap\\w*',
  'text mining',
  'web scraping',
  'sequential pattern mining'],
 'data privacy': ['privacy', 'privacy preservation'],
 'data visualisation': ['graphics',
  'graphs',
  'visualization (computer graphics)',
  'graphing data',
  'dashboard'],
 'data visualization': ['dataviz',
  'charts',
  'graphs',
  'visualisation',
  'data visualization',
  'data visualization software',
  'log plot',
  'motion chart'],
 'database': ['database', 'data management', 'data modeling'],
 'database-ETL': ['transformation and loading', 'data manipulation'],
 'database-architecture': ['data architecture'],
 'database-atomicity': ['atomicity'],
 'database-dbms': ['database (dbms)'],
 'database-graph': ['graph database'],
 'database-query': ['query string'],
 'database-rdbms': ['rdms', 'relational database management system'],
 'database-relational algebra': ['relational algebra'],
 'database-sas language': ['sas language', '\\bsas\\b', 'sap hana'],
 'database-sql': ['\\bsql\\b'],
 'database-warehousing': ['data warehouse',
  'data warehousing',
  'document warehouse'],
 'dimensionality reduction': ['dimensionality reduction'],
 'distributed file systems': ['\\bdfs\\b', 'distributed file system'],
 'dl': ['deep learning'],
 'dl-attention models': ['attention models'],
 'dl-backpropagation': ['backpropagation', 'backtesting'],
 'dl-bert': ['bert models'],
 'dl-cnn': ['cnn', 'convolutional neural network'],
 'dl-cyclegans': ['cyclegans'],
 'dl-dcgans': ['dcgans'],
 'dl-gans': ['bias in gans',
  '\\bgans\\b',
  '\\bgan\\b',
  'components of gans',
  'gan evaluation',
  'gans alternatives'],
 'dl-lstm': ['lstm'],
 'dl-neural network  ': ['artificial neural network', 'neural network'],
 'dl-probabilistic neural network': ['probabilistic neural network'],
 'dl-rnn': ['\\brnn\\b', 'recurrent neural network', 'rnns'],
 'dl-siamese networks': ['siamese networks'],
 'dl-speech recognition': ['parts-of-speech tagging'],
 'dl-stylegans': ['stylegans'],
 'dl-wgans': ['wgans'],
 'dl:tool-keras': ['keras'],
 'dl:tool-pytorch': ['torchaudio', 'torchvision', 'pytorch'],
 'dl:tool-tensorflow': ['tensorflow'],
 'econometrics': ['econometrics'],
 'feature engineering': ['feature engineering', 'feature extraction'],
 'finance-risk': ['risk assessment', 'risk management'],
 'genomics': ['genome', 'genomics'],
 'gis': ['gis', 'geographic information system'],
 'information theory': ['information theory'],
 'internet of things': ['iot', 'internet of things'],
 'jupyter notebook': ['ipython'],
 'linear algebra': ['linear algebra'],
 'management skills': ['crisis management',
  'lean six sigma',
  'manage\\w*',
  'team building',
  'team management'],
 'marketing': ['digital marketing',
  'digital media',
  'marketing',
  'marketing performance'],
 'minitab': ['minitab'],
 'ml': ['advanced machine learning',
  'advanced \\bml\\b',
  'general linear model',
  'inclusive ml',
  'machine learning',
  '\\bml\\b',
  'machine learning concepts',
  'machine learning applied to finance',
  'machine translation',
  'machine learning strategy and leadership'],
 'ml-belief propagation': ['belief propagation'],
 'ml-classification': ['binary classification', 'classification algorithms'],
 'ml-clustering': ['data clustering algorithms',
  'cluster analysis',
  'clustering'],
 'ml-decision tree': ['decision-?tree', 'decision tree'],
 'ml-ensemble methods': ['ensemble learning', 'ensemble'],
 'ml-face recognition': ['fac(\\w)* recognition', 'facial recognition system'],
 'ml-generative models': ['generative model'],
 'ml-hierarchical': ['hierarchical clustering'],
 'ml-hyperparameter tuninng': ['hyperparameter optimization',
  'hyperparameter'],
 'ml-image processinng': ['image analysis',
  'image processing',
  'image process(\\w)*'],
 'ml-image segmentation': ['image segmentation'],
 'ml-image-to-image translation': ['image-to-image translation'],
 'ml-isolation forest': ['isolation  forest'],
 'ml-k-means': ['k-?means clustering', 'k-?means'],
 'ml-kd tree': ['k-?d tree'],
 'ml-lasso regression': ['lasso'],
 'ml-linear regression': ['linear regression'],
 'ml-locality-sensitive hashing': ['locality-sensitive hashing'],
 'ml-logistic regression': ['logistic regression'],
 'ml-markov random field': ['markov random field'],
 'ml-model development': ['machine learning model evaluation and optimization',
  'machine learning modeling',
  'model selection',
  'oversampling'],
 'ml-multi-class classification': ['multi-?class',
  'multi-?class classification'],
 'ml-pca': ['eigenvalues and eigenvectors', 'eigenvalue', 'eigenvector'],
 'ml-pipeline': ['pipeline', 'build input data pipeline'],
 'ml-pix2pix': ['pix2pix'],
 'ml-predictive modelling': ['predictive models'],
 'ml-random forest': ['random forest'],
 'ml-recommender systems': ['recommender systems'],
 'ml-regression': ['regression analysis'],
 'ml-ridge regression': ['ridge regression', 'ridge'],
 'ml-unsupervised learning': ['unsupervised learning'],
 'ml: tool-airflow': ['airflow'],
 'ml: tool-amazon sagemaker': ['amazon sagemaker'],
 'nlp': ['language industry',
  'named-entity recognition',
  'natural language generation',
  '\\bnlp\\b',
  'natural language processing',
  'neural machine translation',
  'text analysis',
  'natural language processing',
  'natural language entity extraction'],
 'nlp-bag of words': ['bag of words'],
 'nlp-n-gram model': ['n-?gram language models', 'n-?gram'],
 'nlp-regular expression': ['regex', 'regular expression'],
 'nlp-sentiment analysis': ['sentiment analysis',
  'sentiment with neural nets'],
 'nlp-tf-idf': ['tf-idf',
  'term frequency',
  'term frequency inverse document frequency'],
 'nlp-tokenization': ['tokenization'],
 'nlp-vector space models': ['vector space models'],
 'nlp-word embeddinngs': ['word embeddings'],
 'nlp: tool-nltk': ['nlkt', 'natural language toolkit '],
 'nlp:tool-spacy': ['spacy'],
 'optimization': ['mathematical optimization'],
 'principal component analysis': ['\\bpca\\b',
  '\\bpca\\b',
  'principal component analysis'],
 'probabilistic programming language': ['prpl',
  'probabilistic programming language'],
 'process analytics': ['process mining',
  'process modeling',
  'process optimization'],
 'programming': ['computer programming',
  'debugging',
  'logic programming',
  'coding'],
 'programming-api': ['\\bapi\\b', 'application programming interface'],
 'programming-functional': ['functional programming'],
 'programming-lookup table': ['lookup table'],
 'programming-oop': ['oop', 'object-?oriented programming'],
 'programming-virtualization': ['virtualization'],
 'project management': ['project management'],
 'python': ['python', 'python programming'],
 'python -numpy': ['numpy'],
 'python-biopython': ['biopython'],
 'python-matplotlib': ['matplotlib'],
 'python-pandas': ['pandas', 'grouped data', 'pivot table'],
 'python-plotly': ['plotly'],
 'python-seaborn': ['seaborn'],
 'r programming': ['\\br\\b', '\\br\\b'],
 'r programming-rstudio': ['rstudio'],
 'r-ggplot': ['ggplot'],
 'rl': ['reinforcement learning'],
 'scala': ['scala programming'],
 'scikit-learn': ['scikit-learn'],
 'simulation': ['simulation'],
 'splunk': ['splunk'],
 'spreadsheets': ['microsoft excel', 'spreadsheet'],
 'statistics': ['critical value',
  'general statistics',
  'likelihood function',
  'statistical analysis',
  'statistical data',
  'statistical methods',
  'statistics',
  'medical statistics',
  'uncertainty analysis',
  'multivariate analysis',
  'multivariate statistics'],
 'statistics-analysis of variance': ['anova', 'analysis of variance'],
 'statistics-bayesian': ['variational bayesian methods',
  'bayesian statistics',
  'bayes theorem',
  'bayesian network',
  'bayesian optimization'],
 'statistics-causality': ['causal inference', 'causality'],
 'statistics-chi-squared distribution': ['chi-?2',
  'chi-?squared distribution'],
 'statistics-confidence interval': ['confidence interval'],
 'statistics-descriptive': ['basic descriptive statistics',
  'summary statistics'],
 'statistics-distributions': ['distribution'],
 'statistics-gausian distribution': ['gaussian process', 'gaussian'],
 'statistics-hypothesis testing': ['\\ba/b\\b',
  'a/b testing',
  'p-value',
  'statistical hypothesis testing',
  'treatment effect estimation'],
 'statistics-inference': ['statistical inference', 'statistical inferences'],
 'statistics-interaction': ['interaction (statistics)  ',
  'interactive visualization',
  'interactivity'],
 'statistics-models': ['statistical classification', 'statistical model'],
 'statistics-monte carlo methods': ['monte carlo simulation',
  'gibbs sampling'],
 'statistics-normal distribution': ['normal distribution'],
 'statistics-poison distribution': ['poisson distribution'],
 'statistics-probability': ['probability', 'conditional probability'],
 'statistics-regression': ['statistical regression'],
 'stream analytics: tool-kafka': ['kafka'],
 'supervised learning': ['supervised learning'],
 'time series analysis': ['time series analysis',
  'time series',
  'multivariate time series analysis'],
 'time series model': ['time series', 'time-to-event modeling'],
 'visualisation: tool-power bi': ['power bi'],
 'visualisation: tool-tableau': ['tableau']}

In [99]:
def clean_text(text):
    #all_reviews = list()
    #lines = data["Description"].values.tolist()
    #for text in lines:
    text = text.lower()
    pattern = re.compile('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+')
    #text = pattern.sub('', text)
    text = re.sub(r"\n", " ", text)
    text = re.sub(r"[,.\"!@#$%^&*(){}?/;`~:<>+=-]", "", text)
    tokens = word_tokenize(text)
    table = str.maketrans('', '', string.punctuation)
    stripped = [w.translate(table) for w in tokens]
    words = [word for word in stripped if word.isalpha()]
    stop_words = set(stopwords.words("english"))
    stop_words.discard("not")
    #PS = PorterStemmer()
    #words = [PS.stem(w) for w in words if not w in stop_words]
    words = [w for w in words if not w in stop_words]
    words = ' '.join(words)
    #all_reviews.append(words)
    #return all_reviews
    return words

In [100]:
df['cleaned_description'] = df['Description'].apply(clean_text)

In [101]:
df['cleaned_description'][0]

'programmerdeveloper lead sr data analyst engineering bachelor degree computer science engineering mathematics stem disciplines certificate completion reputable code school academy months experience working software developerengineer using one following languages python sql r java julia scala tensorflow matlab ability work independently solve targeted technical problems experience snowflake features developing deploying snowflake projects production environment experience working within devops andor dataops environment experience building deployment automation data pipelines andor infrastructureascode solutions experience leading design development deployment endtoend solutions including data acquisition data ingestion data storage data management data visualization data integration data access using snowflake using cloud services platforms considered technically strong one area experienced working big data distributed programming languages ecosystems spark hadoop mapreduce pig kafka experienced working deploying large scale data analytics services solutions andor warehouses experienced common data science tools python r pytorch tensorflow keras nltk spacy good understanding modelling platforms candidates flexible willing work across delivery landscape includes not limited agile applications development support deployment responsible programming software development using various programming languages related tools frameworks reviewing code written programmers requirement gathering bug fixing testing documenting implementing software systems experienced programmers also responsible interpreting architecture design code reviews mentoring guiding monitoring programmers ensuring adherence programming documentation policies software development testing release required skills experience write software programs using specific programming languagesplatforms java ms net related tools platform environment write update maintain computer programs software packages handle specific jobs tracking inventory storing retrieving data controlling equipment consult managerial engineering technical personnel clarify program intent identify problems suggest changes perform direct revision repair expansion existing programs increase operating efficiency adapt new requirements write analyze review rewrite programs using workflow chart diagram applying knowledge computer capabilities subject matter symbolic logic write contribute instructions manuals guide end users correct errors making appropriate changes rechecking program ensure desired results produced conduct trial runs programs software applications sure produce desired information instructions correct compile write documentation program development subsequent revisions inserting comments coded instructions others understand program investigate whether networks workstations central processing unit system andor peripheral equipment responding program instructions prepare detailed workflow charts diagrams describe input output logical operation convert series instructions coded computer language perform systems analysis programming tasks maintain control use computer systems software systems programmer consult assist computer operators system analysts define resolve problems running computer programs perform unit testing assist system user testing fix errors bugs identified course testing qualifications years years min relevant experience role bachelor degree proficient software engineering techniques software engineering architecture software engineering lifecycle data management progressing skills business analysis business knowledge software engineering leadership architecture knowledge technical solution design capgemini equal opportunity employer encouraging diversity workplace qualified applicants receive consideration employment without regard race national origin gender identityexpression age religion disability sexual orientation genetics veteran status marital status characteristic protected law general description duties responsibilities qualifications required position physical mental sensory environmental demands may referenced attempt communicate manner position traditionally performed whenever necessary provide individuals disabilities equal employment opportunity capgemini consider reasonable accommodations might involve varying job requirements andor changing way job performed provided accommodations not pose undue hardship click following link information rights applicant httpwwwcapgeminicomresourcesequalemploymentopportunityisthelaw capgemini capgemini global leader consulting digital transformation technology engineering services group forefront innovation address entire breadth clients opportunities evolving world cloud digital platforms building strong heritage deep industryspecific expertise capgemini enables organizations realize business ambitions array services strategy operations capgemini driven conviction business value technology comes people today multicultural company team members almost countries altran group reported combined revenues visit us wwwcapgeminicom people matter results count job programmeranalyst schedule fulltime primary location caontoronto organization id'

In [102]:
def find_text(text, value):
    for i in value:
        pattern = re.compile(i)
        result = pattern.search(text)
        if result != None:
            return 1
        else:
            pass
    return 0

In [103]:
for key, value in dict_skills.items():
    df[key] = df['cleaned_description'].apply(find_text, value=value)
display(df)

,Title,Location,Company,Salary,Sponsored,Description,Role,cleaned_description,ai,ai-chatbots,...,statistics-normal distribution,statistics-poison distribution,statistics-probability,statistics-regression,stream analytics: tool-kafka,supervised learning,time series analysis,time series model,visualisation: tool-power bi,visualisation: tool-tableau
0,Programmer/Developer Lead - Sr Data Analyst - ...,"Toronto, ON",Capgemini,None,Organic,programmer/developer lead - sr data analyst - ...,data analyst,programmerdeveloper lead sr data analyst engin...,0,0,...,0,0,0,0,1,0,0,0,0,0
1,Senior Technical Data Analyst,"Toronto, ON",BMO Financial Group,None,Organic,address: 120 bloor street east job family grou...,data analyst,address bloor street east job family group tec...,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Jr. Data Analyst,"Surrey, BC",Cascadia Scientific,None,Organic,cascadia scientific provides a saas platform i...,data analyst,cascadia scientific provides saas platform inc...,0,0,...,0,0,0,0,0,0,1,1,0,0
3,Data Analyst,"Kitchener, ON",Dialpad,None,Organic,dialpad is the most modern business communicat...,data analyst,dialpad modern business communications company...,1,0,...,0,0,0,0,0,0,0,0,0,0
4,Decision Support Data Extraction Analyst,"Whitby, ON",Central East Local Health Integration Network,$33.26 - $39.08 an hour,Organic,providing database and data extraction experti...,data analyst,providing database data extraction expertise d...,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001,Data Engineer,"Halifax, NS",MobSquad,None,Organic,"about mobsquad we are a well-funded, hyper-gro...",data engineer,mobsquad wellfunded hypergrowth scaleup lookin...,0,0,...,0,0,0,0,1,0,0,0,0,0
1002,Data Engineer,"Montréal, QC",MarketMuse,None,Organic,experienced data engineer overview marketmuse ...,data engineer,experienced data engineer overview marketmuse ...,0,0,...,0,0,0,0,0,0,0,0,0,0
1003,Senior Data Engineer,"Toronto, ON",ASSURANCE,None,Organic,about assurance at assurance we are disrupting...,data engineer,assurance assurance disrupting antiquated inef...,0,0,...,0,0,0,0,0,0,0,0,0,0
1004,Senior Data Engineer- QuantumBlack,"Montréal, QC",McKinsey & Company,None,Organic,qualifications meaningful experience with at l...,data engineer,qualifications meaningful experience least two...,0,0,...,0,0,0,0,0,0,0,0,0,0
1005,Data Engineer,"Montréal, QC",Paytm,None,Organic,"about paytm labs: at paytm labs, we’re on a mi...",data engineer,paytm labs paytm labs mission provide useful t...,1,0,...,0,0,0,0,1,0,0,0,0,0

In [104]:
df.describe()

,ai,ai-chatbots,ai-ethics,ai-knowledge graphs,ai: platform-Azure,ai: platform-google ai platform,ai: platform-infosys nia,ai: platform-premonition,ai: platform-watson,ai: platform-wipro holmes,...,statistics-normal distribution,statistics-poison distribution,statistics-probability,statistics-regression,stream analytics: tool-kafka,supervised learning,time series analysis,time series model,visualisation: tool-power bi,visualisation: tool-tableau
count,1006.000000,1006.0,1006.0,1006.000000,1006.000000,1006.000000,1006.0,1006.0,1006.0,1006.0,...,1006.0,1006.0,1006.000000,1006.000000,1006.000000,1006.000000,1006.000000,1006.000000,1006.000000,1006.000000
mean,0.100398,0.0,0.0,0.001988,0.165010,0.004970,0.0,0.0,0.0,0.0,...,0.0,0.0,0.010934,0.000994,0.124254,0.011928,0.033797,0.033797,0.128231,0.220676
std,0.300679,0.0,0.0,0.044566,0.371374,0.070359,0.0,0.0,0.0,0.0,...,0.0,0.0,0.104046,0.031528,0.330036,0.108618,0.180797,0.180797,0.334513,0.414909
min,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,0.0,0.0,1.000000,1.000000,1.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [105]:
drop_list=[]
for i in df.columns[8:]:
    if df[i].mean()==0:
        drop_list.append(i)
display(drop_list)

['ai-chatbots',
 'ai-ethics',
 'ai: platform-infosys nia',
 'ai: platform-premonition',
 'ai: platform-watson',
 'ai: platform-wipro holmes',
 'ai:platform-rainbird',
 'bioinformatics: tool-SAMtools',
 'business analytics: tool-ibm cognos',
 'data cleaning',
 'database-atomicity',
 'database-dbms',
 'database-query',
 'database-rdbms',
 'database-relational algebra',
 'distributed file systems',
 'dl-attention models',
 'dl-bert',
 'dl-cyclegans',
 'dl-dcgans',
 'dl-probabilistic neural network',
 'dl-siamese networks',
 'dl-speech recognition',
 'dl-stylegans',
 'dl-wgans',
 'jupyter notebook',
 'ml-belief propagation',
 'ml-classification',
 'ml-hierarchical',
 'ml-image segmentation',
 'ml-image-to-image translation',
 'ml-isolation forest',
 'ml-kd tree',
 'ml-lasso regression',
 'ml-locality-sensitive hashing',
 'ml-markov random field',
 'ml-model development',
 'ml-multi-class classification',
 'ml-pca',
 'ml-pix2pix',
 'nlp-bag of words',
 'nlp-n-gram model',
 'nlp-tf-idf',
 'nlp-tokenization',
 'nlp-vector space models',
 'nlp-word embeddinngs',
 'nlp: tool-nltk',
 'principal component analysis',
 'probabilistic programming language',
 'python-biopython',
 'scikit-learn',
 'statistics-chi-squared distribution',
 'statistics-confidence interval',
 'statistics-descriptive',
 'statistics-hypothesis testing',
 'statistics-monte carlo methods',
 'statistics-normal distribution',
 'statistics-poison distribution']

In [106]:
df2=df.drop(drop_list,axis=1)
display(df2)

,Title,Location,Company,Salary,Sponsored,Description,Role,cleaned_description,ai,ai-knowledge graphs,...,statistics-interaction,statistics-models,statistics-probability,statistics-regression,stream analytics: tool-kafka,supervised learning,time series analysis,time series model,visualisation: tool-power bi,visualisation: tool-tableau
0,Programmer/Developer Lead - Sr Data Analyst - ...,"Toronto, ON",Capgemini,None,Organic,programmer/developer lead - sr data analyst - ...,data analyst,programmerdeveloper lead sr data analyst engin...,0,0,...,0,0,0,0,1,0,0,0,0,0
1,Senior Technical Data Analyst,"Toronto, ON",BMO Financial Group,None,Organic,address: 120 bloor street east job family grou...,data analyst,address bloor street east job family group tec...,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Jr. Data Analyst,"Surrey, BC",Cascadia Scientific,None,Organic,cascadia scientific provides a saas platform i...,data analyst,cascadia scientific provides saas platform inc...,0,0,...,0,0,0,0,0,0,1,1,0,0
3,Data Analyst,"Kitchener, ON",Dialpad,None,Organic,dialpad is the most modern business communicat...,data analyst,dialpad modern business communications company...,1,0,...,0,0,0,0,0,0,0,0,0,0
4,Decision Support Data Extraction Analyst,"Whitby, ON",Central East Local Health Integration Network,$33.26 - $39.08 an hour,Organic,providing database and data extraction experti...,data analyst,providing database data extraction expertise d...,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001,Data Engineer,"Halifax, NS",MobSquad,None,Organic,"about mobsquad we are a well-funded, hyper-gro...",data engineer,mobsquad wellfunded hypergrowth scaleup lookin...,0,0,...,0,0,0,0,1,0,0,0,0,0
1002,Data Engineer,"Montréal, QC",MarketMuse,None,Organic,experienced data engineer overview marketmuse ...,data engineer,experienced data engineer overview marketmuse ...,0,0,...,0,0,0,0,0,0,0,0,0,0
1003,Senior Data Engineer,"Toronto, ON",ASSURANCE,None,Organic,about assurance at assurance we are disrupting...,data engineer,assurance assurance disrupting antiquated inef...,0,0,...,0,0,0,0,0,0,0,0,0,0
1004,Senior Data Engineer- QuantumBlack,"Montréal, QC",McKinsey & Company,None,Organic,qualifications meaningful experience with at l...,data engineer,qualifications meaningful experience least two...,0,0,...,0,0,0,0,0,0,0,0,0,0
1005,Data Engineer,"Montréal, QC",Paytm,None,Organic,"about paytm labs: at paytm labs, we’re on a mi...",data engineer,paytm labs paytm labs mission provide useful t...,1,0,...,0,0,0,0,1,0,0,0,0,0

In [107]:
df2.describe()

,ai,ai-knowledge graphs,ai: platform-Azure,ai: platform-google ai platform,big data,big data-mapreduce,big data: platform-bigquery,big data: platform-cloudera,big data: tool-hadoop,big data: tool-hive,...,statistics-interaction,statistics-models,statistics-probability,statistics-regression,stream analytics: tool-kafka,supervised learning,time series analysis,time series model,visualisation: tool-power bi,visualisation: tool-tableau
count,1006.000000,1006.000000,1006.000000,1006.000000,1006.000000,1006.000000,1006.000000,1006.000000,1006.000000,1006.000000,...,1006.000000,1006.000000,1006.000000,1006.000000,1006.000000,1006.000000,1006.000000,1006.000000,1006.000000,1006.000000
mean,0.100398,0.001988,0.165010,0.004970,0.270378,0.033797,0.046720,0.005964,0.191849,0.139165,...,0.003976,0.062624,0.010934,0.000994,0.124254,0.011928,0.033797,0.033797,0.128231,0.220676
std,0.300679,0.044566,0.371374,0.070359,0.444376,0.180797,0.211143,0.077036,0.393951,0.346291,...,0.062962,0.242406,0.104046,0.031528,0.330036,0.108618,0.180797,0.180797,0.334513,0.414909
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [108]:
df2.to_csv('final_skills_m2.csv', index=False)

In [ ]:
'''df["machine_learning"].unique()'''

In [ ]:
'''df["python"].unique()'''

In [ ]:
'''df["knn"].unique()'''

In [ ]:
'''df["anova"].unique()'''

In [ ]:
'''sdf=pd.read_csv('sample_skills.csv')
display(sdf)'''

In [ ]:
'''sdf2=sdf.groupby('Umbrella_Term').Skills.apply(list).reset_index()
sdf2'''

In [ ]:
'''dict_skills={}
for i in sdf2.index:
    dict_skills[sdf2.loc[i,'Umbrella_Term']]=sdf2.loc[i,'Skills']
display(dict_skills)'''

In [ ]:
'''from fuzzywuzzy import fuzz
def label_skills(text, value):
    for i in value:
        ratio=fuzz.token_set_ratio(i,text)
    if ratio>=0.90:
        return 1
    else:
        return 0'''

In [30]:
np_df=pd.read_csv('noun_pharses_combined.csv')
display(np_df)

                                  text
0                                  NDA
1                         charity work
2                      ongoing reports
3                                   MS
4                    les nomenclatures
...                                ...
5931                    some migration
5932                 Staffing Industry
5933  a paid part-time Fall internship
5934                        an ability
5935   high performing problem solvers

[5936 rows x 1 columns]

In [31]:
for key, value in dict_skills.items():
    np_df['skill'] = np_df['text'].apply(find_text, value=value)
display(np_df)

                                  text  skill
0                                  NDA      0
1                         charity work      0
2                      ongoing reports      0
3                                   MS      0
4                    les nomenclatures      0
...                                ...    ...
5931                    some migration      0
5932                 Staffing Industry      0
5933  a paid part-time Fall internship      0
5934                        an ability      0
5935   high performing problem solvers      0

[5936 rows x 2 columns]

In [33]:
np_df['skill'].unique()

array([0], dtype=int64)